*{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  z-index: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.NavBar {
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
  box-shadow: 0px 0.5px 2px 0px #8a8a8a;
  justify-content: space-between;
  max-height: 50px;
  position: sticky;
  z-index: 2;
}

.NavLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.NavCenter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.NavRight {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.NavElement {
  padding: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
  cursor: pointer;
}

.NavElementLabel {
  font-size: large;
  font-weight: bold;
}

.NavElementLabel:hover {
  color: #9146FF;
}

.SearchBarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 36;
}

.SearchBar {
  min-width: 18rem;
  background-color: #dbdbdb;
  border-width: 0px;
  border-radius: 4px 0px 0px 4px;
  padding: 10px;
  padding-right: 10px;
  height: 36;
}

.SearchButton {
  padding: 10px;
  height: 36;
  border-width: 0px;
  background-color: #ececec;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  margin-left: 1px;
}
.SearchButton:hover {
  background-color: #dbdbdb;
}

.TwitchLogo {
  padding: 10px;
  padding-bottom: 15px;
  padding-top: 15px;
  height: 28px;
  width: 28px;
  color: #9146FF;
}

.ThreeDotsButton {
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.ThreeDotsButton:hover {
  color: #9146FF;
}

.GetBits {
  display: flex;
  flex-direction: row;
  background-color: rgb(230, 230, 230);
  padding: 10px;
  border-width: 0px;
  border-radius: 4px;
  align-items: center;
  cursor: pointer;
  margin-left: 8px;
  margin-right: 8px;
}

.GetBitsLabel {
  padding: 2px;
  font-weight: bold;
  font-size: small;
}

.GetBitsIcon {
  padding: 2px;
}

.GetBits:hover {
  background-color: rgb(219, 219, 219);
}

.NavRightIcon {
  height: 18px;
  width: 18px;
  padding: 10px;
  cursor: pointer;
}

.NavRightIcon:hover {
  background-color: rgb(194, 194, 194);
  border-radius: 4px;
}

.UserIcon {
  color: #9146FF;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.UserIcon:hover {
  background-color: white;
}

.MainView {
  display: flex;
  flex-direction: row;
}

.SideBar {
  background-color: rgb(241, 240, 240);
  height: 100vh;
  padding: 2px;
  z-index: 1;
}

.SideBarSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.SideBarSectionLabel {
  font-weight: bold;
  font-size: small;
  color: rgb(78, 78, 78);
  padding: 5px;
  margin-top: 10px;
}

.SideBarChannelElement {
  display: flex;
  flex-direction: row;
  min-width: 16rem;
  padding: 2px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.SideBarChannelElement:hover {
  background-color: rgb(231, 231, 231);
}

.SideBarChannelIcon {
  height: 30px;
  width: 30px;
  color:#9146FF;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
}
.SideBarChannelText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5px
}

.SideBarChannelTextName {
  font-size: medium;
  font-weight: bold;
}

.SideBarChannelTextPlaying {
  font-size: small;
}

.SideBarViewCount {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50px;
  font-size: small;
}

.SideBarViewIcon {
  color:red;
  height: 8px;
  width: 8px;
  margin-right: 5px;
}

.SideBarLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.SideBarRight {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
